<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275074317515-o3v9cg0qp4k0mo27o55n1jbme2jvod1f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275074317515-o3v9cg0qp4k0mo27o55n1jbme2jvod1f</string>
	<key>API_KEY</key>
	<string>AIzaSyDyV6qQcas4N_n90t70T2JwxTRtehg1GRY</string>
	<key>GCM_SENDER_ID</key>
	<string>275074317515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.SwiftIAPTeam.work</string>
	<key>PROJECT_ID</key>
	<string>workout-74544</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-74544.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275074317515:ios:09a4c9b8ceb3828c166f4e</string>
	<key>DATABASE_URL</key>
	<string>https://workout-74544.firebaseio.com</string>
</dict>
</plist>